<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
	 <header th:fragment="header">
        <h1>Spring Boot<small>Security</small></h1>
        <ul>
            <li><a href="/">Index</a>
            
            <li><a href="/join">Join</a>
            <li><a href="/login">Login</a>
            
            <li><a href="/member">Member</a>
            <li><a href="/logout">Logout</a>
            
            <li><a href="/admin">Admin</a>
        </ul>
    </header>
</body>
</html>